<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h4>Top restaurants with keyword "{{search_term or 'None Specified'}}": </h4>
        <section>
        <h2>{{ restaurant.get('name') }}</h2>
        <img src = {{img_url}}>
        <p>LOCATION: {{location}}</p>
        <p>ADDRESS: {{address}}</p>
        <p>PRICE: {{price}}</p>
        <p>RATING: {{rating}}</p>

        </section>
    </main>
</body>
</html>

